<h3>ProvisionM</h3>
<p>Thrown Together by <%= mail_to 'danko@theorypump.com', 'Mike Danko', :encode => 'javascript' %>.</p>
<p>Source at <%= link_to 'Github', 'https://github.com/skord/provisionm' %></p>
<p>Got a problem? Issue Tracking also at <%= link_to 'Github', 'https://github.com/skord/provisionm/issues' %></p>
<p>Want to fix something? Help out? Open an issue or fork the project at github, make the change, and issue a pull request. Those who do, go to the head of the line.</p>