<h3>Need Help? You're in the right place.</h3>

<p>
	ProvisionM is a sample provisioning system for <%= link_to 'OpenNMS', "http://www.opennms.org", :target => '_blank' %>.
</p>

<h3>Why Use Provisioning?</h3>

<p>
	While automated node discovery is a relatively easy task in OpenNMS, using the provisioning requisitions is a great way to get all the information about your equipment into the system. Using requisitions rather than automated service discovery means you can put all your asset information in the system, only scan nodes for the services you need, know your maintenance contract information and many many more things. 
</p>

<p>
	You may already have a legacy NMS, other provisioning system or systems. ProvisionM mimics one of these and also provides an export function so you can take the information right out of ProvisionM and directly apply it to your OpenNMS installation.
</p>

<p>
	While you can directly put your provisioning information into OpenNMS, ProvisionM allows you to enter things like an address, equipment manufacturer, or vendor once and re-use it across nodes rather than typing it all in by hand for each node. 
</p>