<table class='table table-striped'>
	<thead>
  <tr>
    <th>Name</th>
    <th>Instances</th>
  </tr>
	</thead>
	<tbody>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.name, service %></td>
    <td><%= service.ip_interfaces.count %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Service', new_service_path, :class => 'btn btn-success admin' %>
