<table class='table table-striped'>
	<thead>
  <tr>
    <th>Category</th>
		<th>Node Count</th>
  </tr>
	</thead>
<tbody>
<% @node_categories.each do |node_category| %>
  <tr>
    <td><%= link_to node_category.name, node_category %></td>
		<td><%= node_category.nodes.count %></td>
  </tr>
<% end %>
</tbody>
</table>


<%= link_to 'New Node category', new_node_category_path, :class => 'btn btn-success admin' %>
