<table class='table table-striped'>
	<thead>
  <tr>
    <th>Requisition</th>
		<th>Node Count</th>
		<th>Link to XML</th>
  </tr>
	</thead>
	<tbody>
<% @requisitions.each do |requisition| %>
  <tr>
    <td><%= link_to requisition.name, requisition %></td>
    <td><%= requisition.nodes.count %></td>
		<td><a href="/requisitions/<%= requisition.slug %>.xml">XML</a></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Requisition', new_requisition_path, :class => 'btn btn-success admin' %>
