<table class='table'>
	<thead>
	  <tr>
	    <th>Building</th>
	    <th>City</th>
			<th>State</th>
	  </tr>
	</thead>
	<tbody>
		<% @buildings.each do |building| %>
		  <tr>
		    <td><%= link_to building.name, building %></td>
				<td><%= building.city %></td>
				<td><%= building.state %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Location', new_building_path, :class => 'btn btn-success admin' %>
