<table class='table table-striped'>
	<thead>
	  <tr>
	    <th>Vendor</th>
			<th>Active Support Contracts</th>
			<th>Expired Support Contracts</th>
	  </tr>
	</thead>
	<tbody>
		<% @vendors.each do |vendor| %>
		  <tr>
		    <td><%= link_to vendor.name, vendor %></td>
				<td><%= vendor.support_contracts.active.count %></td>
				<td><%= vendor.support_contracts.expired.count %></td>				
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Vendor', new_vendor_path, :class => 'btn btn-success admin' %>
