<table class='table table-striped'>
	<thead>
  <tr>
    <th>Manufacturer</th>
		<th>Registered Products</th>
  </tr>
	</thead>
	<tbody>
		<% @manufacturers.each do |manufacturer| %>
		  <tr>
		    <td><%= link_to manufacturer.name, manufacturer %></td>
				<td><%= manufacturer.products.count %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<%= link_to 'New Manufacturer', new_manufacturer_path, :class => 'btn btn-success admin' %>
